<div class="container">


	<div class="row">
	  <% @articles.each do |article| %>
		  <div class="col-sm-4">
		
			<div class="card" style="width: 18rem;">
				<img class="card-img-top" src="https://images.unsplash.com/photo-1612193281915-f91d5367bb23?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=376&q=80" class="card-img-top" alt="...">
				<div class="card-body">
					<%= link_to article.title, article_path(article), class: "card-title" %>
					<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
				</div>
			</div>
			
		</div>
		<% end %>		
</div>

</div>