

<div class="container">
<% @articles.each do |article| %>
	<div class="row row-cols-1 row-cols-md-2 g-4 plates">
		<div class="col">
			<div class="card">
				<img src="..." class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title"><%= article.title %></h5>
					<%= link_to article.title, article_path(article), class: "card-title" %>
					<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
				</div>
			</div>
		</div>		
</div>
<% end %>
</div>
